button {
  height: 30px;
  width: auto;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}