<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
</head>

<body class="flex flex-column" br-mode="">
  
  <div class="flex flex-column">
    <span class="mb-md">Preference:</span>
    <div class="flex w-100 justify-between">
      <div class="w-100 pr-mr">
        <button id="globalPrefsBtn" data-scope="global" class="flex flex-column align-items-center w-100">
          Global
          <span class="text-sm pt-sm">Default</span>
        </button>
      </div>
      <div class="w-100 pl-md">
        <button id="localPrefsBtn" data-scope="local" class="flex flex-column align-items-center w-100">
          Site
          <span class="text-sm pt-sm">For this site</span>
        </button>
      </div>
    </div>
  </div>
  
  <button id="readingModeToggleBtn" class="w-100 flex flex-column align-items-center">
    Enable Reading Mode
  </button>
  
  <div class="w-100">
    <label class="block">
      Saccades interval: <span id="saccadesLabelValue"></span>
    </label>
    <div class="slidecontainer">
      <input type="range" min="0" max="4" value="" class="slider w-100" id="saccadesSlider" />
    </div>
  </div>
  
  <div class="w-100">
    <label class="block" >
      Fixations strength: <span id="fixationStrengthLabelValue"></span>
    </label>
    <div class="slidecontainer">
      <input type="range" min="1" max="3" value="" class="slider w-100" id="fixationStrengthSlider" />
    </div>
  </div>
  
  
  <div class="w-100">
    <label class="block" >
      Fixations stem opacity %: <span id="fixationOpacityLabelValue"></span>
    </label>
    <div class="slidecontainer">
      <input type="range" min="0" max="100" value="" class="slider w-100" id="fixationStemOpacitySlider" list="fixationStemOpacityList" step="20" />
      <datalist id="fixationStemOpacityList" class="flex text-sm justify-between">
        <option value="0" label="off"></option>
        <option value="20" label="20"></option>
        <option value="40" label="40"></option>
        <option value="60" label="60"></option>
        <option value="80" label="80"></option>
        <option value="100" label="100"></option>
      </datalist>
    </div>
  </div>
  
  <div class="w-100 flex flex-column gap-1">
    <span class="text-dark">Saccades Color</span>
    
    
    <select name="saccadesColor" id="saccadesColor" class="p-2">
      <option name="color" id="colorOriginal" value="">Original</option>
      <option name="color" id="colorLight" value="light">Light</option>
      <option name="color" id="colorLight100" value="light-100">Light-100</option>
      <option name="color" id="colorDark" value="dark">Dark</option>
      <option name="color" id="colorDark100" value="dark-100">Dark-100</option>
    </select>

  
  
  </div>
  
  <div class="w-100 flex flex-column gap-1">
    <label class="text-dark" for="style">Saccades Style</label>
    
    <select name="saccadesStyle" id="saccadesStyle" class="p-2">
      <option name="style" id="styleBold" value="bold-300">Bold-300</option>
      <option name="style" id="styleBold" value="bold-500">Bold-500</option>
      <option name="style" id="styleBold" value="bold-700">Bold-700</option>
      <option name="style" id="styleBold" value="bold-900">Bold-900</option>
      <option name="style" id="styleSolidLine" value="solid-line">Solid-line</option>
      <option name="style" id="styleDashLine" value="dashed-line">Dash-line</option>
      <option name="style" id="styleDottedLine" value="dotted-line">Dotted-line</option>
    </select> 
    
  </div>
  
  <div class="w-100">
    <label class="block" id="lineHeightLabel">Line Height</label>
    <div class="w-100 flex justify-center">
      <button id="lineHeightDecrease" data-op="decrease" class="mr-md w-100">
        <span class="block">Aa</span>
        <span class="text-sm">Smaller</span>
      </button>
      <button id="lineHeightIncrease" data-op="increase" class="ml-md w-100">
        <span class="block text-bold">Aa</span>
        <span class="text-sm">Larger</span>
      </button>
    </div>
  </div>
  
  <button id="onPageLoadBtn" class="w-100 flex flex-column align-items-center">
    <span class="text-bold">Always <span id="onPageLoadLabel"></span></span>
    <span class="text-sm pt-sm">Default Toggle Preference</span>
  </button>
  
  <button id="resetDefaultsBtn" class="w-100 flex flex-column align-items-center" style="margin-bottom:25px">
    Reset Defaults
  </button>


  <footer class="flex gap-1 text-center text-md text-bold">
    <a class="text-white" href="https://www.jiffyreader.com/" target="_blank">About Us</a>
    <a class="text-white" href="https://github.com/ansh/jiffyreader.com" target="_blank">Github</a>
    <a class="text-white" href="https://github.com/ansh/jiffyreader.com#reporting-issues-bugs-and-feature-request" target="_blank">Report Issue</a>
  </footer>
  
</body>

</html>