<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
</head>

<body class="flex flex-column" br-mode="">

  <div class="flex flex-column">
    <span class="mb-md">Preference:</span>
    <div class="flex w-100 justify-between">
      <div class="w-100 pr-mr">
        <button id="globalPrefsBtn" data-scope="global" class="flex flex-column align-items-center w-100">
          Global
        </button>
      </div>
      <div class="w-100 pl-md">
        <button id="localPrefsBtn" data-scope="local" class="flex flex-column align-items-center w-100">
          Site
        </button>
      </div>
    </div>
  </div>

  <button id="readingModeToggleBtn" class="w-100 flex flex-column align-items-center">
    Enable Reading Mode
  </button>

  <div class="w-100">
    <label class="block">
      Saccades interval: <span id="saccadesLabelValue"></span>
    </label>
    <div class="slidecontainer">
      <input type="range" min="0" max="4" value="" class="slider w-100" id="saccadesSlider" />
    </div>
  </div>

  <div class="w-100">
    <label class="block" >
      Fixations strength: <span id="fixationStrengthLabelValue"></span>
    </label>
    <div class="slidecontainer">
      <input type="range" min="1" max="3" value="" class="slider w-100" id="fixationStrengthSlider" />
    </div>
  </div>

  <div class="w-100">
    <label class="block" id="lineHeightLabel">Line Height</label>
    <div class="w-100 flex justify-center">
      <button id="lineHeightDecrease" class="mr-md w-100">
        <span class="block">Aa</span>
        <span class="text-sm">Smaller</span>
      </button>
      <button id="lineHeightIncrease" class="ml-md w-100">
        <span class="block text-bold">Aa</span>
        <span class="text-sm">Larger</span>
      </button>
    </div>
  </div>

  <button id="onPageLoadBtn" class="w-100 flex flex-column align-items-center">
    On PageLoad
  </button>

  <button id="resetDefaultsBtn" class="w-100 flex flex-column align-items-center">
    Reset Defaults
  </button>

</body>

</html>