<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <button id="toggleBtn" class="w-100">Toggle Reading Mode</button>

    <div id="saccadesEdit" class="w-100">
      <label style="display: block" id="lineHeightLabel">Saccades interval: <span id="saccadesLabelValue"></span></label>
      <div class="slidecontainer">
        <input type="range" min="0" max="4" value="" class="slider" id="saccadesSlider" />
      </div>
    </div>
    
    <div id="lineHeightEdit" class="w-100">
      <label style="display: block" id="lineHeightLabel">Line Height</label>
      <div id="buttonGroup" class="w-100 flex justify-between">
        <button id="lineHeightdecrease">Smaller</button>
        <button id="lineHeightIncrease">Bigger</button>
        <button id="lineHeightReset">&circlearrowleft;</button>
      </div>
    </div>

    <div id="checkboxContainer">
      <input type="checkbox" id="toggleReadingMode" name="toggle" />
      <label for="toggleReadingMode">Toggle on default</label>
    </div>
  </body>
</html>
