$maxFixations: 3;
$maxSaccadesInterval: 4;

//define colors for fixations
$hue1: #3aa757ff;
$hue2: #453823ff;
$hue3: #561f37ff;
$hue4: rgb(68, 155, 255);
$delta: 8%;

$saccadesColorsBase: (
	0,
	$hue1),
	(1, $hue2),
	(2, $hue3),
	(3, $hue4
);

/**
	generate (3) fixation-strength variants
*/
@mixin makeFixation($fixationStrength, $saccadesColor, $stemOpacity) {
	$fixationsAllowed: $fixationStrength;

	@for $fixationsAllowed from 1 through $fixationStrength {
		[fixation-strength="#{$fixationsAllowed}"] {
			display: inline;
			--fixation-stem-opacity: #{$stemOpacity+"%"};
			font-weight: var(--br-boldness) ;
			line-height: var(--br-line-height, initial);
			color: #{$saccadesColor};
			text-decoration: var(--br-line-style) underline 2px;
		}
	}
}

// generate all saccades-interval variants
@mixin makeSaccades($fixationStrength, $stemOpacity, $edgeOpacity) {
	@for $saccadesIndex from 0 through $maxSaccadesInterval {
		&[saccades-interval="#{$saccadesIndex}"][fixation-strength="#{$fixationStrength}"] br-bold:nth-of-type(#{$saccadesIndex + 1}n + 1) {

			//for each saccade variant, make 3 fixation-strength variants
			// fixation-strength variants are applied inclusively from 1 through 3
			@include makeFixation($fixationStrength, var(--saccadesColor), $stemOpacity);
		}

		br-bold *, br-edge {
			opacity: var(--fixation-stem-opacity);
		}

		br-span {
			--fixation-stem-opacity: #{$edgeOpacity+"%"};
		}
	}
}

@mixin makeColorVariants($color, $id, $delta, $label) {
	&[saccades-color="#{$label}"] {
		br-bold:nth-of-type(#{$maxSaccadesInterval}n + #{$id}) {
			--saccadesColor: #{adjust-color($color, $lightness: $delta )};
		}
	}

	&[saccades-color="#{$label}-100"] {
		br-bold:nth-of-type(#{$maxSaccadesInterval}n + #{$id}) {
			--saccadesColor: #{adjust-color($color, $lightness: $delta * 2.7)};
		}
	}
}

[br-mode=on] {
	@for $fixationStrength from 1 through $maxFixations {
		// make fixation-stem-opacity
		$opacity: 0;
		$stemOpacity:none;
		$edgeOpacity: none;

		@while $opacity <=100 {

			@if $opacity < 20 {
				$stemOpacity:100;
				$edgeOpacity: 100;
			}@else{
				$stemOpacity:$opacity;
				$edgeOpacity: 130 - $stemOpacity
			}

			&[fixation-stem-opacity="#{$opacity}"] {
				@include makeSaccades($fixationStrength, $stemOpacity, $edgeOpacity);
			}

			$opacity: $opacity + 20;
		}

	}

	@each $id,
	$color in $saccadesColorsBase {
		@include makeColorVariants($color, $id, $delta, "light");

		@include makeColorVariants($color, $id, -$delta, "dark");
	}

}