body {
  padding: 10px;
  min-width: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(1.05);
}


#lineHeightLabel {
  padding-bottom: 4px;
}

#checkboxContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%
}

.flex {
  display: flex
}

.justify-between {
  justify-content: space-between;
}

