body {
	padding: 10px;
	min-width: 170px;
	justify-content: center;
	gap: 14px;
}

button {
	padding: 10px;
	border: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	background: #3aa757;
}

.modeLabel {
	display: none;
}

:is([br-mode="on"] #onModeLabel, [br-mode="off"] #offModeLabel) {
	display: initial;
}

button:active {
	transform: scale(1.05);
}

#lineHeightLabel {
	padding-bottom: 4px;
}

#checkboxContainer {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#toggledOnList {
    list-style-type: none;
    padding: 0;
    max-height: 100px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow-y: auto;
    white-space: nowrap;
	margin: 0;
	scrollbar-width: thin;
}

#toggledOnList li {
	margin-top: 4px;
}

.bg-danger {
	background: #f44336;
}

.m-0 {
	margin: 0;
}

.mt-lg {
	margin-top: 12px
}

.w-100 {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}
